.how {
  background: #f3f3f3;
  text-align: center;
  padding: 60px;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.step {
  max-width: 220px;
}

.circle {
  width: 45px;
  height: 45px;
  background: #16a34a;
  color: white;
  border-radius: 50%;
  line-height: 45px;
  margin: auto;
  font-weight: bold;
}