.navbar{
height:60px;
background: linear-gradient(90deg,#11998e,#38ef7d);
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
color:white;
}

.nav-left{
display:flex;
align-items:center;
gap:10px;
}

.logo{
font-size:20px;
font-weight:bold;
}

.menu-btn{
font-size:22px;
background:none;
border:none;
color:white;
cursor:pointer;
display:none;
}

.nav-links button{
background:none;
border:none;
color:white;
margin-left:20px;
font-size:16px;
cursor:pointer;
}

.nav-links button.active{
border-bottom:2px solid white;
}

/* Mobile */

@media(max-width:768px){

.nav-links{
display:none;
}

.menu-btn{
display:block;
}

}